
include LICENSE
include README.md

recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include config_loader *.md Makefile make.bat *.jpg *.png *.gif *py
